* {
    margin: 0;
    padding: 0;
}

/*lutho's navigation bar styling section*/
.navbar {
    background-color: #78a57a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
}
#logo {
    border-radius: 50%;
    Height: 5rem;
    width: 5rem;
    margin: 15px 15px;
    padding: 15px 15px;
}
li {
    display: inline-block;
}
li a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 15px;
    margin: 15px 15px;
}

/*lutho's footer styling section*/
.foot-bar {
    background-color: green;
}
.copyright {
    background-color: grey;
    color: white;
    text-align: center;
}
#priv {
    color: green;
    text-transform: uppercase;
    font-weight: bold;
}
