@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', "Times New Roman", sans-serif;
}

/*lutho's navigation bar styling section*/
.navbar {
    background-color: #182b3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*height: 8rem;*/
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#logo {
    border-radius: 50%;
    Height: 5rem;
    width: 5rem;
    margin: 15px 15px;
    padding: 15px 15px;
    border: 1px solid;
    border-color: greenyellow;
    box-shadow: 3px 3px 3px grey;
}
li {
    display: inline-block;
}
li a {
    color: white;
    text-decoration-line: none;
    text-transform: capitalize;
    font-weight: bold;
    padding: 15px 15px;
    margin: 15px 15px;    
}
/*Lutho's recipes styling*/
.rec-head {
  color:#182b3f;
  text-align: left;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: bold;
 /* margin: 50px;*/
 margin-left: 80px;
 margin-top: 40px;
  
}
.cook-today{
  color: #E84C1F;
  font-size: 24px;
}
.rec {
    color: #182b3f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
  /* margin: 10rem;*/
    text-transform: capitalize;
}
#rec-pic {
  border: none;
  width: 300px;
  height: 250px;
}
.article1 {
    display: flex;
}
.article2 {
    display: flex;
}
.article3 {
    display: flex;
}
.article4 {
    display: flex;
    margin-bottom: 10rem;
}
.gallery {
    margin: 25px;
    padding: 16px;
    border-color: grey;
    box-shadow: 3px 3px 3px #dae8f7;
    transition: all .35s ease;
    border-radius: 5px;
}
/*.gallery:hover {
    transform: translateY(-5px);
}*/
img {
    
    border-color: grey;
}
.desc {
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #182b3f;
    border: 1px solid;
}
/*lutho's footer styling section*/
.registration p{
  color: #fff;
  margin-left: 0;
  text-align: left;
}
.quicklinks{
color: #E84C1F;
margin-bottom: 10px;
}

.quicklinks li {
  margin-top: 5px;
  display: block;
  font-size: 14px;
  text-align: left;
  text-transform: lowercase;
}
hr {
  color: #182b3f;
}
.foot-bar {
  padding-right: 50px;
 /* width: 100%;*/
    padding: 50px;
    background-color: #182b3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.veggie{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px greenyellow;
}
.copyright {
    background-color: grey;
    color: #182b3f;
    text-align: center;
}
#priv {
    text-transform: uppercase;
    font-weight: bold;
}
/*Sinelizwi's contact info and form styling section*/
.contact{
    min-height: 50vh;
    background-color: #182b3f;
    padding: 50px;
   text-align: left;

  }
  .container-contact{
    max-width: 1000px;
    margin: 0;

  }
  .container-contact h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #78a57a;
  }
  .message{
    color: #78a57a;
  }
  .contact-message{
    color: #fff;
  }
  .contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
  }
  .contact-form{
    text-align: left;
  }
  .contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;

  }
  .form-group{
    margin-bottom: 20px;
  }
  input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #000;
  }
  input:focus,
  textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
  }
  button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #78a57a;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
  }
  button:hover{
    background-color:#E84C1F;

  }
  .contact-info{
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  .contact-info p{
    margin-bottom: 10px;
    color: #fff;

  }
  .contact-info i{
    color:#78a57a ;
    margin-right: 10px;
  }

  .contact-info i:hover{
    color: #E84C1F;
  }
  .contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;

  }

   /*Sinelizwi's shop styling section*/
  /*Our products title */
  .products h2 {
    font-size: 36px;
    }
    .products h4{
      font-size:14px ;

    }
  
    .products span{
        color: #E84C1F;
    }
    /*The grid of the products*/
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        align-items: center;
        gap: 2rem;
        text-align: center;
        cursor: pointer;
        padding-top: 2rem;
      /*  transition: all .35s ease;*/

    }
    .box{
       padding: 0px 20px 10px 20px;
        background:#fff;
        box-shadow: 5px 30px 56.1276px rgb(55, 55,55 /25%);
       box-shadow: 5px 5px 5px #becbcf;
        border-radius: 5px;
        position: relative;
      transition: all .35s ease;
    }
    .shop{
       /* margin-bottom: 5%;*/
        padding: 5%;
    }
    .box img{
        width: 100%;
        height: auto;
        border: 0;

        
    }
    .product-names{
        background-color: #182b3f;
       
    }
    .product-names h4{
        color:#E84C1F;
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 0px;
    
    }
    .product-names h5{
        color: #fff;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 1px;
        margin-top: 0px;
    
    }
    
    .box .cart i{
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background: #3a7e3d;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
    .box:hover{
        transform: translateY(-5px);
    }
    .heading-slider{
      background-color: grey;
      padding: 10rem;
      margin: 10px;
    }
    /*Zintle's about us styling*/
   /* *{
      margin: 0;
      padding: 0;
      font-family: "Times New Roman", sans-serif;
  }*/
  .about-us-section {
    background-color: #182b3f;
    padding: 50px;
  }
  
  .heading {
      text-align: center;
      width: 90%;
      margin: 20px;
  }
  .heading h2{
      font-size: 36px;
      color: #78a57a;
     margin-bottom: 25px;
     text-align: left;

  }
  .heading p {
    font-size: 1rem;
    color: #fff;
    text-align: left;

  }
  .about-content{
    margin: 30px;
  }
  .about-content h2{
    color: #E84C1F;
    font-size: 34px;
   /* margin: 10px;*/
   margin-right: 40px;
    margin-top: 5px;
   margin-bottom: 20px;
  }
  .about-content p,a{
    color: #fff;
    font-size: 14px;
    text-align: justify;
   /* margin-bottom: 60px;*/

  }

  .About {
      display: flex;
      margin: 15px;
      padding: 15px;
      color: #182b3f;
     /* font-style: oblique;*/
     /* font-weight: bold;*/
  }
  img {
      padding-right: 8px;
  }
    /*Zintle's slide show styling*/
    #slider{
      overflow: hidden;
    }
    #slider figure{
      position: relative;
      margin-top: 10rem;
      margin-right: 0%;
      left:0;
      animation :20s slider infinite;
      width: 500%;
    }
    #slider figure img{
      float: left;
      width: 20%;
    }
    
    @keyframes slider{
      0%{
        left:0;
      }
      20%{
        left:0;
    
      }
      25%{
        left:0;
      }
      45%{
        left:-100%;
    
      }
      50%{
        left:-100%;
    
      }
      70%{
        left:-100%;
    
      }
      75%{
        left:-300%;
    
      }
      95%{
        left:-300%;
    
      }
    }
